/Users/andrew/Fortran_codes/FOPTICS/FOPTICS_chain/Light_Curve_Analysis/WORKDIR/Kepler_gammaDors_Binaries/lcparam-Kepler_gammaDors_Binaries.dat ! Input file with light curve parameters
/Users/andrew/Fortran_codes/FOPTICS/FOPTICS_chain/Attribute_transformation/WORKDIR/Kepler_gammaDors_Binaries/attributes-Kepler_gammaDors_Binaries.dat ! Output file with attributes
dat ! file extension for light curves
3 10 ! Number of frequencies that have been extracted and the number of harmonics that are taken into account, accordingly