/Users/andrew/Fortran_codes/FOPTICS/FOPTICS/NoUncertainties/Attribute_transformation/WORKDIR/KeplerBinariesGammaDor/ ! Input directory
/Users/andrew/Fortran_codes/FOPTICS/FOPTICS/NoUncertainties/AttributeSelection/WORKDIR/KeplerBinariesGammaDor/ ! Output directory
dat ! light curve file name extension
75 2 ! Number of input and selected (in this order) attributes
71 68 ! Attribute indices 