/Users/andrew/Fortran_codes/FOPTICS/FOPTICS/NoUncertainties/Light_Curve_Analysis/WORKDIR/KeplerBinariesGammaDor/lcparam-KeplerBinariesGammaDor.dat ! Input file with light curve parameters
/Users/andrew/Fortran_codes/FOPTICS/FOPTICS/NoUncertainties/Attribute_transformation/WORKDIR/KeplerBinariesGammaDor/attributes-KeplerBinariesGammaDor.dat ! Output file with attributes
dat ! file extension for light curves
3 10 ! Number of frequencies that have been extracted and the number of harmonics that are taken into account, accordingly