/Users/andrew/TESS/TrainingSet/keplerq9/All_Targets/test/ ! Full path to the data folder
/Users/andrew/Fortran_codes/FOPTICS/FOPTICS/NoUncertainties/Light_Curve_Analysis/WORKDIR/! Full path to the working directory
KeplerTrainingSetOriginal ! Name of the current run
txt ! light curve files extension
flux ! units of the light curve measurements: flux or magnitude
2 0 ! Polynomial degree (ndeg) for detrending the data and switch for the Nyquist frequency calculation (0 - fixed to the Kepler long-cadence; 1 - computed from time steps), accordingly
3 10 ! Number of frequencies that will be extracted and the number of harmonics that will be taken into account, accordingly
0 ! Number of frequencies to be avoided in the frequency analysis (frequencies themselves are given below; if "1" is given here but more frequencies are listed, only "1" will be used)
14.19
4.05