/Users/andrew/Jeroen/Supervised/IntermediateResults/WORKDIR/ECLIPSE_predictions_274/lcparam-ECLIPSE_predictions_274.dat ! Input file with light curve parameters
/Users/andrew/Jeroen/Supervised/IntermediateResults/WORKDIR/ECLIPSE_predictions_274/attributes-ECLIPSE_predictions_274.dat ! Output file with attributes
txt ! file extension for light curves
3 10 ! Number of frequencies that have been extracted and the number of harmonics that are taken into account, accordingly