/Users/andrew/Fortran_codes/FOPTICS/FOPTICS/NoUncertainties/Light_Curve_Analysis/WORKDIR/KeplerDominicQ9/lcparam-KeplerDominicQ9.dat ! Input file with light curve parameters
/Users/andrew/Fortran_codes/FOPTICS/FOPTICS/NoUncertainties/Attribute_transformation/WORKDIR/KeplerDominicQ9/attributes-KeplerDominicQ9.dat ! Output file with attributes
txt ! file extension for light curves
3 10 ! Number of frequencies that have been extracted and the number of harmonics that are taken into account, accordingly