/Users/andrew/Fortran_codes/FOPTICS/FOPTICS/NoUncertainties/Light_Curve_Analysis/WORKDIR/CheckWout_NoPeriodChange/lcparam-CheckWout_NoPeriodChange.dat ! Input file with light curve parameters
/Users/andrew/Fortran_codes/FOPTICS/FOPTICS/NoUncertainties/Attribute_transformation/WORKDIR/CheckWout_NoPeriodChange/attributes-CheckWout_NoPeriodChange.dat ! Output file with attributes
times ! file extension for light curves
3 10 ! Number of frequencies that have been extracted and the number of harmonics that are taken into account, accordingly